.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid gainsboro;
  font-size: 1rem;
  height: 130px;
}

.a-acoustic-pianos{
  text-decoration: none;
  color: black;
}

.a-scene-keyboards{
  text-decoration: none;
  color: black;
}

.a-electric-pianos{
  text-decoration: none;
  color: black;
}

.a-all-of-pianos{
  font-weight: 600;
  color: black;
  text-decoration: none;
  font-size: 24px;
}
